* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  font-size: 28px;
  color: #000;
}
a {
  text-decoration: none;
  color: #4d4e53;
  border-bottom: 1px #000 solid;
  padding: 18px;
}

.container {
  display: flex;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  border-right: 3px solid #4d4e53;
}

#navbar > header {
  padding: 20px;
  border-bottom: 1px #000 solid;
}

#variables > header {
  border-bottom: 0;
}

#main-doc {
  margin: 20px;
  padding: 24px;
}
