* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  font-size: 28px;
  color: #000;
}
a {
  text-decoration: none;
  color: #4d4e53;
  border-bottom: 1px #000 solid;
  padding: 18px;
}

p {
  line-height: 1.6;
  padding: 5px;
}

.container {
  display: flex;
  position: relative;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vm;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

#navbar > header {
  padding: 20px;
  border-bottom: 1px #000 solid;
}

#variables > header {
  border-bottom: 0;
}

#main-doc {
  /* margin-left: 120px; */
  padding: 24px;
  width: 100%;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

article {
  padding: 24px;
}

article ul {
  padding: 16px;
  margin-left: 50px;
}
